# This is the actual project ID, but unless you are part of the organization on EAS,
# you will not be able to access it. You can run `eas init` to create a new project
# on EAS and replace the ID here with the given ID.
export EAS_PROJECT_ID="f19296df-44bd-482a-90bb-2af254c6ac42"

# Use the experimental inspector proxy 👀
EXPO_USE_CUSTOM_INSPECTOR_PROXY=true