node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Ignore native projects, generate them with prebuild
/ios/
/android/
**/android/build

# macOS
.DS_Store

.env
.env.local

google-services.json